.SightMarkCalculator{
  padding: 20px;
}
.SightMarkCalculator-row{
}
.SightMarkCalculator-row > *:not(:last-child){
  margin-right: 10px;
}
.SightMarkCalculator > h2{
  font-weight: 400;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.SightMarkCalculator h3{
  font-weight:400;
  margin-bottom: 0;
}
.SightMarkCalculator label{
  display: block;
}
.SightMarkCalculator > table{
  border-collapse: collapse;
  margin: auto;
}
.SightMarkCalculator thead th{
  padding: 4px;
}
.SightMarkCalculator td{
  text-align:center;
}
.SightMarkCalculator tbody tr:nth-child(even){
  background:#eee;
}
.SightMarkCalculator tbody td:nth-child(10){
  background:#eee;
}
.SightMarkCalculator tbody tr:hover{
  background:#fafafa;
}
.SightMarkCalculator tbody th{
  text-align: right;
}
.SightMarkCalculator .highlight{
  background-color: #fafafa;
}

